@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.video-banner1 {
    .video-content {


        button {
            color: white;
            background: black;
            padding: 10px;
            border-radius: 40px;
            width: 90px;
        }
        button:hover {
            background: #5d5d5f;
            transition: 0.3s;
        }
    }
}

.video-banner1:hover {
    cursor: pointer;
}

.main-wall-header {
    transition: top 0.3s ease; /* เพิ่ม transition */
}












