section {
    height: 74px;
    background: #f5f5f5;
    justify-content: center;
    align-items: center;
    display: flex;
    

    .banner-slide {
      
      .banner-wrapper {
        display: none;
      }

      .banner-wrapper:first-child {
        display: flex;
      }

    }
    
  }